<div class="row">
  <%= render 'site/sidebar' -%> 
 
  <div class="col-sm-9 page-content">

      <%= render 'site/topbar' -%>


    <div class="inner-box">
    <h2 class="title-2"><i class="icon-docs"></i> Anúncios Pendentes </h2>
    <div class="table-responsive">
      <table id="addManageTable" class="table table-striped table-bordered add-manage-table table demo">
        <thead>
          <tr>
            <th> Capa</th>
            <th data-sort-ignore="true"> Detalhes</th>
            <th data-type="numeric"> Preço</th>
            <th> Ações</th>
          </tr>
        </thead>
        <tbody>
        <% @ads.each do |ad| -%>
        <!-- interar -->
          <tr>
            <td style="width:14%" class="add-img-td">
              <% if ad.images.blank? -%>
                <%= image_tag "http://placehold.it/600x500", :class => 'thumbnail img-responsive' -%>
              <% else -%>
                <%= image_tag ad.images[0].thumb, :class => 'thumbnail img-responsive' -%>
              <% end -%>
            </td>
            
            <td style="width:50%" class="ads-details-td">
              <div>
              <p><strong><%= link_to ad.title, site_ad_path(ad) %></strong></p>
              <p><strong> Categoria</strong>: <%= ad.category.description -%> </p>
              <p><strong>Criado em</strong>: <%= ad.created_at.to_s(:created_at) -%>   -   <strong>Visitas:</strong> 223</p>
              </div>
              
            </td>

            <td style="width:15%" class="price-td">
            <% if ad.price == 0 -%>
              <div><strong>Combinar</strong></div>
            <% else -%>
              <div><strong> <%= number_to_currency(ad.price, unit: "R$", separator: ",", delimiter: ".", format: "%u %n") %></strong></div>
            <% end -%>
            </td>

            <td style="width:6%" class="action-td">
              <div>
                <p><%= link_to '<i class="fa fa-edit"></i> Editar'.html_safe, edit_site_ad_path(ad), :class => "btn btn-primary btn-xs" %></p>
                <p><%= link_to '<i class=" fa fa-trash"></i> Excluir'.html_safe, site_ad_path(ad), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-xs" %></p>
                <p><%= link_to '<i class="fa fa-mail-forward"></i> Divulgar'.html_safe, site_ad_path(ad), :class => "btn btn-info btn-xs" %></p>
              </div>
            </td>
          </tr>
          <!-- interar -->
          <% end -%>
        </tbody>
      </table>
    </div>
  </div>

</div> 
</div>


    