<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @ad.user %>
</p>

<p>
  <strong>Category:</strong>
  <%= @ad.category %>
</p>

<p>
  <strong>Title:</strong>
  <%= @ad.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ad.description %>
</p>

<p>
  <strong>State:</strong>
  <%= @ad.state %>
</p>

<p>
  <strong>Price:</strong>
  <%= @ad.price %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @ad.tags %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @ad.images[0] %>
</p>

<p>
  <strong>Featured:</strong>
  <%= @ad.featured %>
</p>

<p>
  <strong>Status:</strong>
  <%= @ad.status %>
</p>

<%= link_to 'Edit', edit_site_ad_path(@ad) %> |
<%= link_to 'Back', site_ads_path %>
