<div class="row">
  <%= render 'site/sidebar' -%> 
 
  <div class="col-sm-9 page-content">
    
      <%= render 'site/topbar' -%>
    

    <div class="inner-box">
      <div class="welcome-msg">
      <% if current_user.free? -%>
      <h3 class="page-sub-header2 clearfix no-padding">Assine um de nossos planos</h3>
        <% else -%>
        <h3 class="page-sub-header2 clearfix no-padding">Faturas  
        <%= link_to "<i class=\" fa fa-times\"></i> Cancelar Assinatura".html_safe, assinatura_cancelar_path(:id => current_user.subscription.subscription_id), :class => 'btn btn-sm btn-danger' %></h3>
        <% end -%>
          
        

      </div>

      <div class="row">
        <div class="col-lg-12">
          <div class="row">

             <% if current_user.free? -%>
                <% plans = @plans.drop(1) -%>
              <% plans.each do |plan| -%>
              <div class="col-md-4">
                <div class="pricing hover-effect">
                  <div class="pricing-head">
                    <h3><%= plan.name -%> <span>Cod. <%= plan.identifier -%> </span></h3>
                    <h4>
                    <%= number_to_currency(plan.amount, unit: "<i>R$</i>".html_safe, separator: ",<i>".html_safe, delimiter: ".", format: "%u %n</i>".html_safe) %>
                    <span>Por Mês</span>
                    </h4>
                  </div>
                  <ul class="pricing-content list-unstyled">
                    <li>
                      Públique até <%= plan.ads_qtd -%> Anúncios
                    </li>
                    <li>
                      Até <%= plan.feature_qtd -%> Anúncios Premium
                    </li>
                    <li>
                      Divulgação em Redes Sociais
                    </li>
                    <li>
                      Email Marketing dos Anúncios
                    </li>
                    
                  </ul>
                  <div class="pricing-footer">
                    <p>
                       Ao assinar o plano, você concorda com os termos de uso do Anúncios Médicos
                    </p><br>
                    <%= link_to "Assinar", checkout_path(:plan => plan.id), class: "btn btn-primary" %>
                    <!-- <a href="javascript:;" class="btn yellow-crusta">Assinar </a> -->
                  </div>
                </div>
              </div>

               
              <% end -%>

          <% else -%>
          <%= render 'site/payments' -%>
          <% end -%>
          
        </div>
          </div>
      </div>
    
 
  </div>
</div> 
</div>