<div class="row">
	<div class="col-sm-5 login-box">
		<div class="panel panel-default">
			<div class="panel-intro text-center">
				<h2 class="logo-title">Recuperação de Senha</h2>
			</div>
		<div class="panel-body">	
			
			<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
	  			<%= f.error_notification %>
					
				<%= f.input :email, required: true, autofocus: true %>
				<%= f.button :submit, "Resetar Senha", :class => 'btn-block btn-primary' %>
				
			<% end %>
		</div>

		<div class="panel-footer">

			<p class="text-center "> <%= link_to "Voltar ao Login", new_session_path(resource_name) %><br /></p>
			<div style=" clear:both"></div>
		</div>
	</div>
	
	<div class="login-box-btm text-center">
		<p> Não tem uma conta? <br>
		<%= render "users/shared/links" %>
	</div>
</div>

</div>



