<div class="header">
  <nav class="navbar navbar-site navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
        <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
          <%= link_to root_path, :class => 'navbar-brand logo logo-title' do %>
             <span class="logo-icon"><%= image_tag 'logo.png' -%></span>
          <% end -%>
      </div>

  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-left">
      <%= menu_item '<i class="fa fa-home fa-lg"></i>'.html_safe, root_path -%>
      <%= menu_item 'Sobre', sobre_path -%>
      <%= menu_item 'Como Funciona', faq_path -%>
      <%= menu_item 'Produtos', ver_categorias_path -%>
      <%= menu_item 'Planos', planos_path -%>
      <%= menu_item 'Fale Conosco', contato_path -%>
    </ul>

    <ul class="nav navbar-nav navbar-right">
    <% if user_signed_in? -%>
      <%= menu_item "<i class=\"glyphicon glyphicon-off\"></i> Sair".html_safe, destroy_user_session_path, :method => Devise.sign_out_via %>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span><%= current_user.profile.fullname.split(" ")[0] -%> </span> <i class="fa fa-user"></i> <span class="caret"></span></a>
          <ul class="dropdown-menu user-menu">
            <%= menu_item '<i class="fa fa-th-list"></i> Painel'.html_safe, perfil_path -%>
            <%= menu_item '<i class="fa fa-cube"></i> Meus Anúncios'.html_safe, site_ads_path -%>
            <%= menu_item '<i class="fa fa-close"></i> Encerrar Conta'.html_safe, encerrar_path -%>
        </ul>
    <% else -%>
      <%= menu_item "Entrar", new_user_session_path %>
      <%= menu_item "Criar Conta", new_user_registration_path %>
    <% end -%>
      <li class="postadd">
        <%= link_to "Novo Anúncio", new_site_ad_path, :class => "btn btn-block btn-border btn-post btn-danger" %>
      </li>
    </ul>
  </div>
</div>

</nav>
</div>